[Unit]
Description=Brownie audio initialization
After=pulseaudio.service
Requires=pulseaudio.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/local/bin/robot_hat enable_speaker; sleep 2; pactl load-module module-alsa-source device=mic source_name=brownie_mic_boosted rate=48000 channels=2; pactl set-default-source brownie_mic_boosted'
RemainAfterExit=yes

[Install]
WantedBy=default.target
